.nam{
    color: white;
    background-color: black;
    margin-left: 500px;
    font-family: Liber Baskerville;
}
img{
    margin-left: 350px;
    margin-top: 60px;
    border-color: 20px solid white;
}